
@{
    ViewData["Title"] = "Index";
}

@*Jumbotron Start*@
<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Welcome To Book Store Application</h1>
        <h3 class="text-center">Here you can upload your pdf book and can read</h3>
        <h2 class="text-center"><a asp-controller="Book" asp-action="AddNewBook" class="btn btn-warning">Add Book Now</a></h2>
    </div>

</div>
<br />
<br />
<br />

@*Jumbotron End*@

